header{
    height: 100vh;
    color: #fff !important;
    background-size: cover !important;
}


.btn-outline-white{
    background-color: transparent;
    border: 2px solid #fff !important;
    color: #fff !important;
}

.btn-outline-white:hover{
    background-color: #fff !important;
    color: #001e5e !important;
    border: 2px solid #fff !important;
}

